<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="app">
<div class="container" ng-controller="home as home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hours</a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="home.authenticated">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong>{{home.user}}</strong>
                </li>
                <li ng-show="home.authenticated">
                    <a href="#" ng-click="home.logout()">Logout</a>
                </li>
                <li ng-show="!home.authenticated">
                    <a href="/login">Login with Google</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" ng-controller="times">
    <table>
        <thead>
        <tr>
            <th>Came</th>
            <th>Went</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="time in times">
            <td>
                {{time.checkin}}
            </td>
            <td>
                <button class="btn default">
                    <i class="glyphicon glyphicon-log-out"></i>
                    <b>Check out</b>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn default" ng-click="checkin()">
                    <i class="glyphicon glyphicon-log-in"></i>
                    <b>Check in</b>
                </button>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/Main.js"></script>
<script type="text/javascript">
var app = Elm.Main.fullscreen();
</script>
</body>
</html>